.page_title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 5vh;
  text-align: center;
}

.info {
  margin: 1rem 0;
}

.verification_wrapper {
  max-width: max-content;
  margin: 5rem auto;
}

.action_button {
  font-size: 1.05rem;
  width: 100%;
  margin: 4rem auto 2rem;
}

.resend_code_button {
  display: block;
  margin: 0 auto;
  color: #fff;
}

.resend_code_button:disabled {
  color: rgb(124, 122, 122);
}

.verification_code_error {
  display: block;
  text-align: center;
}
