.page_title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 5vh;
  text-align: center;
}

.info {
  margin: 1rem 0;
}

.verification_wrapper {
  max-width: max-content;
  margin: 3rem auto 5rem;
}

.photobox_wrapper {
  position: relative;
  display: grid;
  margin: 0 auto;
  justify-content: center;
}

.loading_box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  z-index: 3;
}

.messagebox_wrapper {
  max-width: max-content;
  margin: 0 auto;
}

.action_button {
  font-size: 1.05rem;
  width: 100%;
  margin: 4rem auto 2rem;
}
