.nav {
  display: none;
}

.nav_list {
  position: fixed;
  display: flex;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 8;
  background-color: #fff;
  border-radius: 1.5rem;
  padding: 0 0.3rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.nav_item {
  padding: 0.5rem;
  font-size: 0.7rem;
}

.nav_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #5e5e5e;
}

.user_profilepic {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .nav {
    display: flex;
  }
}

@media (max-width: 325px) {
  .nav_item {
    font-size: 0.5rem;
  }
}
