.page_title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 5vh;
  text-align: center;
}

.action_button {
  font-size: 1.05rem;
  width: 100%;
  margin: 4rem auto 2rem;
}

.interests_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 20vh;
}
