.container {
  display: grid;
  position: relative;
  place-items: center;
  width: 10rem;
  height: 10rem;
  background-color: #555464;
  border: 1px dashed #fff;
  border-radius: 0.4rem;
}

.no_border {
  border: 1px solid #fff;
}

.input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid magenta;
  width: 100%;
  height: 100%;
  z-index: 3;
  cursor: pointer;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
}
