.page_title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 5vh;
  text-align: center;
}

.info {
  margin: 1rem 0;
}

.verification_wrapper {
  max-width: max-content;
  margin: 3rem auto 5rem;
}

.social_media {
  display: grid;
  grid-template-columns: 3rem repeat(2, 1fr);
  align-items: center;
  margin: 1rem 0;
}

.action_button {
  font-size: 1.05rem;
  width: 100%;
  margin: 4rem auto 2rem;
}
