.page_title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 5vh;
  text-align: center;
}

.location_wrapper {
  position: relative;
}

.location_icon {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  z-index: 2;
  left: 1rem;
}

.info {
  margin: 1rem 0;
}

.location_button {
  display: block;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  margin: 1rem auto 0;
}

.subheading_title {
  padding-left: 2rem;
  font-size: 1.4rem;
}

.locations_container {
  background-color: #363444;
}

.location_item {
  margin: 0.5rem 0;
  width: 100%;
}

.location_item_button {
  width: 100%;
  padding: 0.5rem 0;
  text-align: left;
  padding-left: 2rem;
  background-color: transparent;
  color: #fff;
}

.location_item_button:active,
.location_item_button:focus {
  background-color: #555464;
}

.location_city {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.action_button {
  font-size: 1.05rem;
  width: 100%;
  margin: 4rem auto 2rem;
}
