.page_title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 5vh;
  text-align: center;
}

.main {
  margin: 1rem 0;
}

.location_wrapper {
  position: relative;
}

.location_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  left: 1rem;
}

.location_input {
  padding-left: 2.5rem;
  font-size: 1rem;
}

.info {
  margin: 1rem 0;
}

.predictions_list {
  position: absolute;
  top: 3.5rem;
  background-color: #fff;
  width: 90%;
  padding: 0.5rem;
  border-radius: 0.4rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.prediction_button {
  color: #1e1e1e;
  padding: 0.1rem 0;
  text-align: left;
  width: 100%;
}

.subheading_title {
  font-size: 1.3rem;
  margin-bottom: 0.4rem;
}

.locations_container {
  background-color: #363444;
}

.location_item {
  width: 100%;
}

.location_item_button {
  width: 100%;
  padding: 0.3rem 0;
  text-align: left;
  padding-left: 2rem;
  background-color: transparent;
  color: #fff;
}

.location_item_button:active,
.location_item_button:focus {
  background-color: #555464;
}

.location_city {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
}

.action_button {
  font-size: 1.05rem;
  width: 100%;
  margin: 4rem auto 2rem;
}
