.carousel_wrapper {
  margin-top: 4rem;
}

.carousel_image {
  width: 100%;
  object-fit: cover;
}

.carousel_caption {
  position: absolute;
  max-width: 90%;
  top: 50%;
  transform: translateY(-50%);
  max-height: max-content;
}

.image_large_screen {
  height: calc(100vh - 4rem);
}

.next_icon,
.prev_icon {
  transition: transform 300ms ease-in-out;
}

.next_icon:hover {
  transform: translateX(3px);
}

.prev_icon:hover {
  transform: translateX(-3px);
}
