.next,
.previous {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  z-index: 8;
  cursor: pointer;
  user-select: none;
}

.next {
  right: 1.5rem;
}

.previous {
  left: 1.5rem;
}

@media (max-width: 800px) {
  .next {
    right: 0.5rem;
  }

  .previous {
    left: 0.5rem;
  }
}

.slider_wrapper {
  height: 100%;
}
