.container {
  max-width: max-content;
  display: flex;
  justify-content: space-between;
  gap: 0.7rem;
}

.input {
  width: 2.8rem;
  height: 3rem;
  text-align: center;
}

.input_filled {
  outline: 1px solid #00f2a8;
}

.input_error {
  outline: 1px solid #fd5c52;
}
