.container {
  padding: 0 1rem;
  max-width: 600px;
  margin: 0 auto;
}

.top_links {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #1e1e1e;
  z-index: 3;
  padding: 1rem 0;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.back_link {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.1rem;
}

.save_button {
  right: 1rem;
  color: #fff;
  font-size: 1.1rem;
}

.save_button[disabled] {
  color: rgb(90, 90, 90);
}

.save_button {
  position: relative;
}

.page_heading {
  font-size: 1.5rem;
  letter-spacing: 1.2px;
  font-weight: 600;
}

.list {
  margin-top: 4rem;
}

.list_item {
  display: grid;
  grid-template-columns: 2fr 4fr;
  align-items: center;
  gap: 4rem;
  padding: 0.3rem 0 1.4rem;
  border-bottom: 1px solid rgb(90, 90, 90);
}

.list_item:first-of-type,
.list_item:last-of-type {
  border-bottom: none;
}

.list_input_container {
  position: relative;
}

.list_input {
  border: none;
  outline: none;
  color: #fff;
  background-color: #1e1e1e;
  font-size: 1rem;
  padding: 0.2rem 0;
}

::placeholder {
  color: rgb(199, 197, 197);
}

/* Profilepic */
.photobox_wrapper {
  position: relative;
  max-width: max-content;
}

.loading_box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  z-index: 3;
}

/* Location suggestions */
.location_input_wrapper {
  position: relative;
}

.predictions_wrapper {
  position: absolute;
  left: 0;
  z-index: 3;
}

.predictions_list {
  border-radius: 1rem;
  background-color: #fff;
  width: 90%;
  padding: 0.5rem;
  border-radius: 0.4rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.prediction_button {
  color: #1e1e1e;
  width: 100%;
  text-align: left;
  background-color: #fff;
}

.list_input_error {
  position: absolute;
  top: 80%;
  left: 0;
}

/* Bio styles */
.list_item_bio {
  padding: 0 0 1rem;
}

.list_textarea {
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
  margin: 0.5rem 0 0;
  padding: 0.2rem;
  outline: none;
  color: #fff;
  background-color: #1e1e1e;
  white-space: pre-line;
  border: 0.001rem solid rgb(199, 197, 197);
}

.list_input_error_container {
  position: relative;
}

.list_input_error_bio {
  position: absolute;
  bottom: 2rem;
}

/* Interests styles */
.interests_container {
  position: relative;
  padding-bottom: 1rem;
}

.list_input_error_interests {
  position: absolute;
  bottom: 0.2rem;
  left: 0.5rem;
}

.list_photo {
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
}
