.interested_user_profile {
  position: relative;
  display: block;
  height: 80px;
  width: 80px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0 0 3px #56c1ff;
  transition: 300ms ease-in-out;
}

.interested_user_wrapper:not(:first-child) {
  margin-left: -0.7rem;
}

.interested_user_wrapper {
  position: relative;
}

.interested_user_wrapper_more::after {
  content: '•••';
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 3;
}

.interested_users_images {
  display: flex;
  align-items: center;
  margin: 0.5rem 0 1rem;
}
