.page_wrapper {
  background-color: #000;
  padding: 0 0 1rem;
  height: 100%;
  padding-bottom: 5rem;
}

@media (min-width: 800px) {
  .page_wrapper {
    padding-bottom: 1rem;
  }
}

.container {
  padding: 0 1rem;
  max-width: 600px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .container {
    max-width: 75%;
    margin: 0;
  }

  .container_wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }
}

.close_link {
  position: fixed;
  display: grid;
  place-items: center;
  margin: 1rem 1.2rem 0;
  padding: 0.3rem;
  width: 2rem;
  height: 2rem;
  color: #fff;
  border-radius: 50%;
  background-color: #56c1ff;
  z-index: 3;
}

.hero_image_wrapper {
  position: relative;
}

.hero_image {
  width: 100%;
  object-fit: cover;
  height: 40vh;
}

@media (min-width: 800px) {
  .hero_image {
    height: 60vh;
  }
}

.vignette {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
}

/* hero styles */
.days_continent_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
}
.days {
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-right: 1rem;
}

.continent {
  padding: 0.2rem 1rem;
  background-color: #fff;
  color: #1e1e1e;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
}

.name {
  font-size: 1.3rem;
  font-weight: 700;
}

.location {
  font-weight: 700;
  font-size: 0.9rem;
}

@media (min-width: 800px) {
  .days_continent_wrapper {
    max-width: 100%;
    justify-content: flex-start;
  }

  .days {
    font-size: 1.5rem;
  }

  .continent {
    font-size: 1.2rem;
  }

  .name {
    font-size: 2.6rem;
    margin-top: 0;
    line-height: 1;
  }

  .location {
    margin-top: 0.2rem;
    font-size: 1.3rem;
  }
}

@media (min-width: 1100px) {
  .name {
    font-size: 3.2rem;
  }
}

/* Floating box */
.floating_box_wrapper_absolute {
  display: none;
}
.floating_box {
  display: none;
}

.media_button {
  text-decoration: none;
  text-align: center;
  display: block;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

@media (min-width: 800px) {
  .floating_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
    max-width: 20%;
    height: 120px;
    min-width: 120px;
    font-weight: 700;
    background-color: #fff;
    color: #1e1e1e;
    border-radius: 0.5rem;
    padding: 0.4rem 0.5rem;
  }

  .media_button {
    display: block;
  }

  .floating_box_wrapper_absolute {
    display: block;
    position: absolute;
    right: 2rem;
  }

  .floating_box_wrapper_fixed {
    position: fixed;
    top: 1rem;
  }
}

/* Groups section */
.summary_users_text {
  font-size: 0.8rem;
}

.groups_section {
  margin: 2rem 0;
}

.view_all_groups_button {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 1px solid #5e5e5e;
  color: #fff;
  width: 300px;
  padding: 0.5rem 2rem;
  background: transparent;
  border-radius: 1rem;
  cursor: pointer;
  margin: 0.5rem 0 0 0;
  transition: 300ms ease-in-out;
}

.view_all_groups_button:hover,
.view_all_groups_button:focus {
  border: 1px solid #fff;
}

/* Images section */ /* Carousel */
.images_section {
  margin: 1rem 0;
}

.carousel_wrapper {
  cursor: pointer;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateX(-50%) translateY(-50%);
  z-index: 3;
}

.carousel_container,
.slider_image {
  height: 70vh;
}

.carousel_container {
  border-radius: 1rem;
  overflow: hidden;
  width: 70vw;
  z-index: 3;
  cursor: default;
}

.slider_image {
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
  object-position: top center;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.image_container {
  position: relative;
  width: 1f;
}
.image_container:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.3rem;
  cursor: pointer;
}

.see_more_button {
  display: block;
  margin: 0.4rem 0 0 auto;
  padding: 0.5rem;
  color: #56c1ff;
}

.description {
  margin: 1rem 0;
  background: #1e1e1e;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
@media (min-width: 800px) {
  .description {
    font-size: 1.1rem;
    padding: 0.6rem;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-0.5rem);
  background-color: #1e1e1e;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

/* Dropdown sections */
.info {
  margin: 1rem 0;
  background: #1e1e1e;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.1rem;
}

.dropdown_content_box {
  position: relative;
  margin-top: 2rem;
  font-size: 1rem;
}

.dropdown_image {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  object-position: center;
  max-width: 600px;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

/* Itinerary section */
.dropdown_content_box.itinerary_content_box {
  padding-left: 1rem;
}
.itinerary_container {
  border-left: 1px solid #fff;
}

.itinerary_day {
  line-height: 0.9;
  font-weight: 700;
}

.itinerary_activity {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 1rem;
  margin: 1rem 0;
}

.itinerary_activity_time {
  width: max-content;
  white-space: nowrap;
  line-height: 1.7;
}

/* Activities */
.dropdown_content_box.grid_content_box {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  align-items: start;
  justify-content: start;
  padding-bottom: 1rem;
}

.dropdown_content_box.grid_content_box:not(:last-of-type) {
  border-bottom: 0.5px solid #fff;
}

.no_margin {
  margin: 0;
}

@media (max-width: 850px) {
  .dropdown_content_box.grid_content_box {
    grid-template-columns: 1fr;
  }
}

/* Reviews */
.review_profile {
  cursor: pointer;
  position: relative;
  display: block;
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0 0 3px #56c1ff;
  transition: 300ms ease-in-out;
}

.dropdown_content_box.grid_content_box.review_content_box {
  display: flex;
  justify-content: space-between;
}

.reviewer_profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: max-content;
}

.reviewer_name {
  display: inline-block;
  width: max-content;
}

.reviewer_description {
  font-size: 0.9rem;
}

@media (max-width: 850px) {
  .dropdown_content_box.grid_content_box.review_content_box {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* Deposit box */
.deposit_box {
  position: fixed;
  bottom: 1rem;
  width: 95%;
  left: 50%;
  padding: 0.5rem 0.5rem;
  transform: translateX(-50%);
  background-color: #fff;
  color: #1e1e1e;
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  font-weight: 700;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.view_groups_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  margin: 0;
}

@media (min-width: 800px) {
  .deposit_box {
    display: none;
  }
}
