.page_wrapper {
  min-height: 100vh;
}

.container {
  padding: 5rem 1rem;
  max-width: 500px;
  margin: 0 auto;
}

.label_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input_wrapper {
  position: relative;
  margin: 0.5rem 0;
}

/* Top bar */
.top_links {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  z-index: 3;
  padding: 1rem 0;
  box-shadow: 0 6px 6px -6px #777;
}

.back_link {
  display: flex;
  align-items: center;
  color: #56c1ff;
  font-size: 1.1rem;
}

.spinner_wrapper {
  display: inline-block;
  max-width: max-content;
}

/* Phone error container */
.phone_error_container {
  display: flex;
  flex-direction: column;
}

.action_button {
  color: #fff;
  background-color: #56c1ff;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  width: 10rem;
}

.action_button[disabled] {
  opacity: 0.6;
}

.resend_text {
  font-size: 0.8rem;
}

.verification_wrapper {
  margin: 3rem 0 0;
}

.digits_wrapper {
  max-width: max-content;
  margin: 0 auto;
}

.verification_button {
  margin: 2rem auto;
}
